<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Example - example-forms-css-classes-production</title>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</head>

<body>

<div ng-controller="indexController" ng-app="indApp">
 <button ng-click="chiliSpicy()">Chili</button>
 <button ng-click="jalapenoSpicy()">Jalapeño</button>
 <p>The food is {{spice}} spicy!</p>
</div>


<script src="../controllers/indexController.js"></script>
</body>
</html>